body {
	background: linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(50,59,43,1) 46%, rgba(0,212,255,1) 100%);
	align-items: center;
	justify-content: center;
	display: flex;
}

button {
	background-color: black;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 35;
	font-weight: 35;
	cursor: pointer;
	transition-duration: 0.8s;
}

button:hover {
	background-color: #333333;
	transition-duration: 0.5s;
}

button:active {
	box-shadow: 0 1px 0 #00823F;
    bottom:-4px;
}

button:focus {
	outline:0;
}

.container {
	padding: 10;
	background-color: black;
	border-radius: 15px;
	position: relative;
	min-width: 400px;
}

#containerAnimate{
	position: aboslute;
}

#errorText{
	font-size: 50;
	position: absolute;
	left: 100px;
	top: 75px;
	color: #5c7ad6;
}

#restartButton {
	background-color: transparent;
	color: red;
}

.keys {
	display: grid;
	/* grid-gap: 1px; */
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 75px 75px 75px 75px 75px;
	font-weight: 100;
}

.equalButton {
	grid-column-start: 3;
	grid-column-end: 5;
}

.operator {
	color: #517bfb;
}

.display {
	height: 100px;
	font-family: "Arial";
	text-align: right;
	color: gray;
	background-color: black;
	padding: 20px;
	font-size: 50px;
}

.scoreDisplay {
	height: 75px;
	font-family: "Arial";
	text-align: right;
	color: white;
	background-color: black;
	font-size: 50px;
	padding-bottom: 20px;
	padding-right: 20px;
	font-size: 50px;
}
/* https://css-tricks.com/almanac/properties/s/scrollbar/ */
.scrollBar {
	overflow-x: auto;  /* hidden */
	left: 0;
	white-space: nowrap;	/* turn off text wrap */
}

.scrollBar::-webkit-scrollbar {
	height: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.scrollBar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}